@use "../utilities/extend";
@use "../utilities/mixin";
@use "../utilities/variables";

// Card generica para futuros componentes.
.card {
    @include mixin.flex(column, center, center);
}

// Grillas reutilizables para cards de productos y comentarios.
.tarjetas-art,
.comentarios {
    @include mixin.auto-grid();
    border-radius: variables.$radius-md;
}

// Card de cada cafe en la pagina La Experiencia.
.tarjeta-cafe {
    @extend %card-base;
    background-color: variables.$color-card;

    h3 {
        font-family: variables.$font-title;
        font-size: 1.5rem;
        color: variables.$color-text;
        text-decoration: none;
        margin-bottom: 10px;
    }

    p {
        font-family: variables.$font-body;
        font-size: 1rem;
        color: variables.$color-muted;
        text-decoration: none;
    }
}

// Card de comentarios de clientes.
.comentarios-txt {
    @extend %card-base;
    background-color: variables.$color-comment-card;
    border-radius: variables.$radius-sm;
    text-align: start;
    font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

// Card de valores de la pagina Sobre Nosotros.
.logo-estrella {
    @extend %card-base;
    max-width: 500px;
    text-align: left;
    background-color: #ffffff;
    padding: 40px 20px;

    h5{
        font-family: variables.$font-title;
        font-size: 2rem;
        @extend %aureola-icon;
    }    
}

.logo-contacto {
    @extend %aureola-icon;
        margin-bottom: 12px;
}