@use "../utilities/variables";

// Tipografia desde google fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inter:wght@400&display=swap');

// Estilos base de las etiquetas de texto
h2 {
    font-family: variables.$font-title;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: variables.$font-title;
    font-size: 2rem;
}

p { 
    font-family: variables.$font-body;
    font-size: 1rem;
}
