// Variables de colores

$primary-color-blanco: #ffffff;
$secondary-color-blanco: #f9f9f9;
$terciary-color-blanco: #f9f6f0;

$primary-color-gris: #2d2d2d;
$secondary-color-gris: #847474;
$tertiary-color-gris: #747474;

$primary-color-cafe: #3A2F28;
$secondary-color-cafe: #c08e63;

$primary-color-negro: #000000;
$secondary-color-negro: #2e2d2d;